@import 'styles/_variables.scss';

.resetPassword {
  margin-top: -5rem !important;
  margin-bottom: 5rem !important;
  float: right;
}

.reset {
  font-size: 13px;
}

.error {
  display: flex;
  width: 100%;
  margin: 3rem 0;
}