@import 'styles/_variables.scss';

.reservation {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 1px solid currentColor;
  padding: 3rem;

  label {
    margin-bottom: 1rem;
  }

  .premiumLabel {
    margin-bottom: 2rem;
    color: currentColor;
  }
}

.tableDetails {
  opacity: 0.2;
  pointer-events: none;
}

.date {
  line-height: 1em;
}
