.reservation {
  margin-bottom: 2rem;
  border: 1px solid currentColor;
  padding: 3rem;

  label {
    display: block;
    margin-bottom: 1rem;
  }
}

.tableDetails {
  opacity: 0.2;
  pointer-events: none;
}