@import 'styles/_variables.scss';

.cart {
  background: $black;
  color: $white;
  min-height: 100vh;

  [data-bg-color] {
    background: $black;
  }
}

.step {
  margin-top: 12rem;
  margin-bottom: 5rem;

  .header {
    margin-bottom: 3rem;
  }
}