@import './_variables.scss';

@mixin h1() {
  font-size: 5.5rem;
}

@mixin h3() {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}

@mixin p1() {
  font-size: 4rem;
  line-height: 1.4em;
}

@mixin p2() {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

@mixin p3() {
  font-size: 3.3rem;
  line-height: 1.4em;
  margin-top: 1.5rem;
}

@mixin row() {
  display: flex;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    width: $content-width-landscape;
  }

  &.justify-end {
    justify-content: flex-end;
    text-align: right;
  }
}

@mixin col($n) {
  width: $n * $col-width;

  &.align-center {
    display: flex;
    align-items: center;
  }
}

@mixin col-full($n) {
  width: $n * (90% / $cols);
}

@mixin col-landscape($n) {
  width: $n * $col-width-landscape;

  &.align-center {
    display: flex;
    align-items: center;
  }
}
