$black: #070808;
$dark-gray: #1A1F21;
$navy: #0E0D29;
$white: #FFF;
$blue: #0014CD;
$pink: #FF0078;
$light-gray: #F2F2F2;
$medium-gray: #ddd;
$gray: #888888;
$green: #75c71e;

$header: 14rem;
$banner: 12rem;
$header-height: $header + $banner;

$unit-portrait: 1.1vw;
$unit-portrait-lg: 6px;
$unit-landscape: 5px;

$cols: 12;
$col-width: 6.5rem;
$content-width: $col-width * $cols;

$col-width-landscape: 14rem;
$content-width-landscape: $col-width-landscape * $cols;
