$black: #030F14;
$dark-gray: #1A1F21;
$navy: #0E0D29;
$white: #FFF;
$lime: #D6FF00;
$orange: #FFB400;
$blue: #4000FF;
$yellow: #FFEB00;
$light-gray: #F2F2F2;

$header-height: 20rem;

$unit-portrait: 1.1vw;
$unit-portrait-lg: 6px;
$unit-landscape: 4px;

$col-width: 7rem;
$content-width: $col-width * 12;