@import './_variables.scss';

p > a {
  border-bottom: 1px solid currentColor;
}

header {
  .inner {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 20rem;
  }

  .links {
    * {
      margin-left: 4rem;
    }
  }
}

footer {
  padding: 10rem 0;

  @media (max-width: 767px) {
    padding-top: 20rem;
  }

  p {
    font-size: 13px;
  }

  .links {
    margin-top: 5rem;

    a {
      font-size: 10px;
    }
  }
}

.block {
  width: 100%;
  position: relative;
  padding-top: 20rem;
  padding-bottom: 15rem;

  h1 {}

  p {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
    max-width: 400px;
  }

  label {
    display: block;
    color: $pink;
  }

  .inner {
    > * {
      margin-bottom: 5rem;
    }
  }
}