@import './_variables.scss';
@import './default-page.scss';

#home {
  background: $black;
  color: $white;
  width: 100%;

  main {
    overflow-x: hidden;
  }

  button {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.block {
  @media (max-width: 767px) {
    &::after {
      content: "";
      position: absolute;
      width: 200%;
      height: 10rem;
      top: calc(100% - 5rem);
      left: -50%;
      right: -50%;
      transform: rotateZ(5deg);
      background: $black;
      border-bottom: 2rem solid $white;
      z-index: 1;
    }
  }

  &.hero {
    h1 {
      font-size: 11rem;
    }

    .pingpod {
      display: flex;
      align-items: center;
      font-size: 3.5rem;
      color: $white;
      line-height: 1em;

      .logo {
        margin-right: 2rem;
        width: 12rem;
      }
    }
  }

  &.early-access {
    background: $blue;

    &::after {
      background: $blue;
    }

    label {
      color: $white;
    }

    button {
      background: $pink;
    }
  }
}