@import 'styles/_variables.scss';

.home {
  min-height: 100vh;
  background: $blue;
  color: $white;

  [data-bg-color] {
    background: $blue;
  }
}

.intro {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20rem;

  .logo {
    width: 30rem;
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
  }

  p {
    margin-bottom: 5rem;
  }
}