@import 'styles/_variables.scss';

.layout {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 5rem;

  h1 {
    font-size: 36px;
    font-weight: normal;

    @media (min-width: 768px) {
      font-size: 62px;
    }
  }

  ul {
    display: flex;
  }

  li {
    display: inline-block;
    margin-right: 10rem !important;
  }
}

main {
  flex: 1;
  padding-bottom: 15rem;
}

header,
.content {
  margin-left: auto;
  margin-right: auto;
}

.content {
  height: 100%;
}

.menuTrigger {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .dot {
    width: 6px;
    height: 6px;
    border-radius: 1rem;
    background-color: currentColor;
    margin-bottom: 3px;
  }
}

.logo {
  width: 15rem;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50rem;
  background-color: $light-gray;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;

  &[data-expanded="true"] {
    visibility: visible;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin-bottom: 5rem;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
  }
}