@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

.layout {
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  background: $light-gray;
  box-sizing: border-box;
  transition: border-color 100ms linear;
}

main {
  flex: 1;
  margin-top: $header-height;
  padding-bottom: 15rem + $footer-height;
}

header,
.content {
  margin-left: auto;
  margin-right: auto;
}

.content {
  height: 100%;
}

.headerBanner {
  font-size: 14px;
  padding: 0 2rem;
  height: $banner;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuTrigger {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 2rem;
  margin-right: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  .dot {
    width: 18px;
    height: 2px;
    border-radius: 1rem;
    background-color: currentColor;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.logo {
  width: 15rem;
}

.menuWrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: visibility 300ms step-end;
  z-index: 1;

  &[data-expanded="true"] {
    visibility: visible;
    transition: visibility 300ms step-start;

    .overlay {
      opacity: 1;
    }

    .menu {
      transform: none;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 300ms linear;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 75vw;
  max-width: 300px;
  height: 100%;
  background-color: $black;
  color: $white;
  border-left: 2px solid $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transform: translate3d(100%,0,0);
  transition: transform 300ms ease-in-out;

  ul {
    flex-direction: column;
  }

  .option {
    width: 100%;
    text-transform: uppercase;
    border-bottom: 2px solid $white;

    > * {
      display: block;
      @include p2();
      background: inherit;
      font-size: 3rem;
      text-align: left;
      width: 100%;
      padding: 6rem 5rem;
    }
  }

  .close {
    margin: 6rem auto;
    padding: 2.5rem 4rem;
    font-size: 24px;
  }
}

.appFooter {
  position: fixed;
  bottom :0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  height: $footer-height;
  border-top: 1px solid $light-gray;
  
  ul {
    display: flex;
    justify-content: space-between;
  }
  
  li {
    display: flex;
    color: $gray;
    
    &[data-active="true"] {
      color: $pink;
    }
  }
  
  .icon {
    display: inline-block;
    height: 8rem;
    
    svg {
      height: 100%;
      
      * {
        fill: currentColor;
      }
    }
  }
}
