@import 'styles/_variables.scss';

.detailsWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.details {
  @media (min-width: 1024px) {
    column-count: 2;
  }

  h3 {
    margin-top: 1rem;
  }
  
  .detail {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    
    label {
      font-size: 2rem;
      line-height: 1.6em;
      opacity: 0.3;
      display: block;
    }

    button {
      font-size: 2rem;
      padding: 2rem;
      width: auto;
      margin-bottom: 1rem;
    }
  }
}