@import 'styles/_variables.scss';

.details {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;

  h3 {
    margin-top: 1rem;
  }
  
  .detail {
    margin-bottom: 2rem;
    
    label {
      font-size: 2rem;
      opacity: 0.3;
      display: block;
    }

    button {
      font-size: 2rem;
      padding: 2rem;
      width: auto;
      margin-bottom: 1rem;
    }
  }
}