@import 'styles/_variables.scss';

$navHeight: 24rem;
$checkoutHeight: 30rem;

.podSchedule {
  background: $white;
  min-height: 100vh;

  [data-bg-color] {
    background: $white;
  }

  main {
    padding: 0;
  }
}

.header {
  position: fixed;
  top: $header-height;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $white;
  height: $navHeight;
  display: flex;
  flex-direction: column;

  .info {
    padding: 0 5rem;
    margin-bottom: 5rem;
  }

  .location {
    display: flex;
    align-items: flex-end;
  }
}

.dayPicker {
  flex: 1;
  white-space: nowrap;
  overflow: scroll;

  .day {
    display: inline-flex;
    flex-direction: column;
    padding-right: 3rem;
    padding-left: 5rem;

    &[data-is-active="true"] {
      font-weight: bold;
      pointer-events: none;

      label { opacity: 0.8; }
    }

    label {
      margin-top: 1rem;
      opacity: 0.3;
    }
  }
}

.prevDay,
.nextDay {
  color: $pink;

  &[data-active="false"] {
    opacity: 0.3;
  }
}

.today {
  text-align: center;

  h1 {
    margin-top: 1rem;
  }
}

.sessions {
  flex-direction: column;
  flex-wrap: nowrap !important;
  position: relative;
  padding-top: $navHeight;

  &[data-is-active="true"] {
    padding-bottom: $checkoutHeight;
  }
}

.checkout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $checkoutHeight;
  background: $black;
  color: $white;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  transform: translate3d(0, 100%, 0);
  transition: transform 300ms ease-in-out, visibility 300ms step-end;

  &[data-is-active="true"] {
    transition: transform 300ms ease-in-out, visibility 300ms step-start;
    visibility: visible;
    transform: none;
  }

  label {
    margin-bottom: 2rem;
    font-size: 4rem !important;
  }

  .total {

  }
}

.tableRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

button.tableRates {
  display: inline-block;
  font-size: 3rem;
  margin-left: auto;
  color: $blue;
  margin-bottom: 0.5rem;
}

.session {
  position: relative;
  padding: 0rem 5rem;
  background: $blue;
  color: $white;
  height: 15rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.3);

  &[data-past="true"] {
    height: 5rem;
    padding: 2rem 5rem;
    font-size: 80%;
  }


  &[data-selected="true"] {
    background: $white;
    color: $blue;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  
    .check {
      display: inline-block;
    }
    
    .premiumWrapper {
      pointer-events: all;
    }
    
    .premium {
      color: $pink;
    }
  }
  
  &[data-selected="false"] {
    .premiumLabel {
      display: none;
    }
  }

  &[data-premium="false"] {
    .regularSvg {
      opacity: 1;
    }
    
    .premiumSvg {
      opacity: 0.2;
    }
  }
  
  &[data-premium="true"] {
    .regularSvg {
      opacity: 0.2;
    }
    
    .premiumSvg {
      opacity: 1;
    }
  }

  .check {
    display: none;
    color: $blue;
    margin-right: 1.5rem;
  }

  .premiumLabel {
    color: $pink;
  }

  .premiumWrapper {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 100%;
    pointer-events: none;
  }

  .premium {
    width: 8rem;
    height: 8rem;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :global(svg) {
      display: block;
      width: 100%;
      fill: currentColor;
    }
  }
}

.sessionInfo {
  flex: 1;

  label {
    margin-right: 3rem;
  }
}
