@import 'styles/_variables.scss';

.podSchedule {
  background: $light-gray;
  min-height: 100vh;
}

.prevDay,
.nextDay {
  color: $pink;

  &[data-active="false"] {
    opacity: 0.3;
  }
}

.today {
  text-align: center;

  h1 {
    margin-top: 1rem;
  }
}

.sessions {
  height: 70rem;
  overflow: scroll;
  flex-direction: column;
  position: relative;
  margin-top: 5rem;
}

.checkout {
  margin-top: 1rem;

  button {
    height: 12rem;
  }
}