@import 'styles/_variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 3;

  &[data-active="true"] {
    visibility: visible;
  }
}

.modalContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  
  display: flex;
  align-items: center;
}

.modalInner {
  position: relative;
  pointer-events: all;
  background: $white;
  overflow: scroll;
  max-height: 90vh;
  padding: 6rem 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: invert(100%);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto 0;
  padding: 3rem;
  cursor: pointer;
}
