@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.now {
  background: $light-gray;
  min-height: 100vh;
    
  [data-bg-color] {
    background: $light-gray;
  }
  
  [data-modal-bg-color] {
    background: $white;
  }
  
  .header {
    display: block;
    margin-bottom: 3rem;
  }
  
  .showPast {
    display: block;
    margin-bottom: 3rem;
  }
  
  .logo {
    height: 100%;
  }
  
  .reservation {
    border: none;
    background: $white;
    margin-bottom: 3rem;
    overflow: hidden;
  }
}
