@import 'styles/_variables.scss';

.account {
  background: $white;
  color: $black;
  min-height: 100vh;

  [data-bg-color] {
    background: $white;
  }
}

.reservationDate {
  margin-bottom: 5rem;

  .date {
    margin-bottom: 1rem;
  }
}

.info {
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.infoItem {
  margin-bottom: 3rem;
}

.billingInfo {
  margin-bottom: 5rem;
}

.userReservations {
  h3 {
    margin-bottom: 3rem;
  }
}

.showPast {
  display: block;
  margin-bottom: 3rem;
  color: $blue;
}