@import 'styles/_variables.scss';

.admin {
  min-height: 100vh;
  background: $light-gray;
  color: $black;

  [data-bg-color],
  [data-modal-bg-color] {
    background: $light-gray;
  }
}

.intro {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5rem;

  .logo {
    height: 0.8em;
  }

  h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
  }

  p {
    margin-bottom: 5rem;
  }
}

.session {
  &[data-empty="true"] {
    opacity: 0.3;
  }
  
  .timestamp {
    text-align: center;
  }

  .table {
    text-align: center;
    
    &[data-reserved="true"] {
      background: $pink;
      color: $white;
      font-weight: bold;
    }
    
    label {
      margin-right: 2rem;
    }
  }
}

.locationOverview {
  width: 100%;
  overflow: hidden;
}

.sessionsWrapper {
  height: calc(100vh - 50rem);
  overflow: scroll;
}

.sessions {
  max-width: 100%;
  width: auto;
  margin-top: 4rem;
}

.dayPicker {
  margin: 0 -5rem;
}

.openDetails {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}

.linkGroup {
  .header {
    display: block;
    margin-bottom: 2rem;
  }
}

table {
  tr:nth-child(odd) {
    background: $white;
  }

  th, td {
    border: 1px solid $medium-gray;
  }

  th, td {
    padding: 1rem 1.5rem;
    text-align: left;
  }
}

.user {
  cursor: pointer;

  &:hover {
    color: $pink;
  }

  .activeCard {
    text-align: center;
    color: $white;
    
    &[data-active="true"] {
      background: $green;
    }
    
    &[data-active="false"] {
      background: $pink;
    }
  }

  .status {
    cursor: pointer;
    text-align: center;
  }
}

.chargeUser {
  display: flex;
  margin-bottom: 2rem;

  input {
    width: 20rem;
    margin-right: 2rem;
    border: 1px solid black;
    padding: 1rem;
  }

  button {
    margin-bottom: 0 !important;
  }
}